.logged-in-email-style {
    float: right;
    right: 200px;
    position: relative;
    bottom: 10px;
    width: 200px;
}

.inline {
    display: inline; /* the default for span */
    width: 20px;
    height:30px;
    position: relative;
  }

.isAdmin-style {
    position:relative;
    bottom: 32px;
    right: 210px;
}